/* inital css , fonts, *, body */

@import url('https://fonts.googleapis.com/css2?family=Spectral:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Arial;
    font-family: 'Spectral', serif;
    font-weight: 350;
    background: #ffffff;
}

/* Heagings and Logo */

h1,
h2 {
    font-family: 'Spectral', serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: rgb(234, 14, 164);
}

#logo {
    margin-left: 30px;
    letter-spacing: 8px;
    font-weight: bold;
    font-size: 300%;
    float: left;
}

/* Navigation links */

#menu {
    font-size: 160%;
    font-weight: bold;
    letter-spacing: 2px;
    color: rgb(234, 14, 164);
}

#menu #logo {
    line-height: 75px;
}

#menu li {
    margin-top: 10px;
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid rgb(234, 14, 164);
    /* come back to this.......... */
    font-size: 105%;
}

.active {
    border-bottom: 1px solid rgb(234, 14, 164);
    /* come back to this.......... */
}

/* Hero Image */

#hero-image-outer {
    height: 700px;
    width: 100%;
    overflow: hidden;
    position: relative;
    /* to help position cover-text */
}

#hero-image {
    /* have to make this responsive to divrent sizes ........ */
    height: 100%;
    width: 100%;
    background: url(../images/2400-finding-peace-within-woman-meditating-in-cross-legged-yoga-pose-ai-generated.jpg) no-repeat;
    background-size: auto;
    background-position: bottom -200px center;
}

/* Cover text */

#cover-text,
#cover-text h2 {
    color: rgb(234, 14, 164);
    font-family: 'Spectral', serif;


}

#cover-text {
    text-align: center;
    font-size: 110%;
    font-weight: bold;
    letter-spacing: 1px;

    width: 300px;
    height: 200px;

    padding-top: 40px;
    padding-left: 10px;

    bottom: 80px;
    right: 100px;

    position: absolute;

    /* Animation of covr-text*/

    animation: cover-text-breathe 8s infinite;
}

/* Cover-text breathing efect */

@keyframes cover-text-breathe {
    0% {
        transform: scale(0.9);
    }

    50% {
        transform: scale(1);
    }

    100% {
        transform: scale(0.9);
    }
}