/* inital css , fonts, *, body */

@import url('https://fonts.googleapis.com/css2?family=Spectral:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Arial;
    font-family: 'Spectral', serif;
    font-weight: 300;
    background: #faf5ef;
}

/* Heagings and Logo */

h1,
h2 {
    font-family: 'Spectral', serif;
    text-transform: uppercase;
    letter-spacing: 4px;
}

#logo {
    letter-spacing: 8px;
    font-size: 400%;
    float: left;
}

/* Navigation links */

#menu {
    font-size: 150%;
    letter-spacing: 2px;
}

#menu #logo {
    line-height: 75px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid rgb(234, 14, 164);
    /* come back to this.......... */
    font-size: 105%;
}

.active {
    border-bottom: 1px solid rgb(234, 14, 164);
    /* come back to this.......... */
}

/* Hero Image */

#hero-image-outer {
    height: 700px;
    width: 100%;
    
}

#hero-image {               /* have to make this responsive to divrent sizes ........ */
height: 100%;
width: 100%;
background: url(../images/2400-finding-peace-within-woman-meditating-in-cross-legged-yoga-pose-ai-generated.jpg) no-repeat;
background-size: auto;
background-position: bottom -200px center;

}